body {
    margin: 0;
    padding: 0;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 }
 a {
   color:#777777;
   padding: 10px 10px;
 }
 .navbar {
   text-align: right;
   padding: 0px 400px;
 }
 header {
        background-color: #4aaaa5;
        color:#fff;
        text-align: center;
        width: 250px;
    }

#aboutme {
  color: #4aaaa5;
  margin-left: 5px;
}

#main {
    margin-left: 250px;
    width: 960px;
    height: 400px;
    background: #fff;
}
.right {
  float: left;
  padding: 10 20px 20px;
}  
  footer {
    padding: 10px;
    clear: both;
    background: #666666;
  
  }
  